.title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol{
    display: inline-block;
    text-align: left;
}
ul{
    display: inline-block;
    text-align: left;
}
#surf-img{
    position: absolute;
    width: 15%;
    height: 35%;
    left: 80%;
    top:10%;
}
.lists{
     position:relative;
        padding-top:0%;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#alysurf-img{
    position:relative;
    padding-top: 15%;
    width: 18%;
    height: 20%;
    border: 1% solid #000000;
    float:left
}
body{
    background-color: rgb(233, 244, 253);
}
.youtubevideo{
position:relative;
display: inline-block;
float:none;
left:9%;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: underline;
color:rgb(28, 64, 127);

}
#graphhead{
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(28, 64, 127)
}
#viz1713232892612{
    width:auto;
    height:auto;
}
